/* stili generali pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Open Sans', sans-serif;
}

/* stili header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
}

.header-section {
    display: flex;
    padding: 20px;
}

.header-section img {
    padding-right: 20px;
}

.header-section a {
    padding: 10px 10px 10px 0;
    color: #7c7c7c;
    text-decoration: none;
    font-size: 14px;
}


.header-section button {
    padding: 3px 20px;
    background-color: #0061ff;
    color: white;
}

/* stili main */

/* stili jumbotron */
.jumbotron {
    min-height: 600px;
    background-color: hsl(207.1, 51.5%, 80.6%); 
    padding: 0 20%;
}

.jumbotron-title {
    font-size: 40px;
    padding: 50px 0 20px 0;
}

.jumbotron-content {
    display: flex;
    font-size: 14px; 
}

.jumbotron-paragraph p,button,i {
    padding: 20px 0;

}

.jumbotron-paragraph button {
    padding: 10px 20px;
    background-color: #0061ff;
    color: white;
}

.fa-arrow-down {
    font-size: 60px;
    padding: 50px 0;
}

.jumbotron-photo {
    max-width: 60%;
    padding-top: 20px;
}

.jumbotron-photo img {
    width: 700px;
}

/* stili business-plan section */
.container {
    max-width: 70%;
}

.business-plan {

    display: flex;
    justify-content: center;

}