/* stili generali pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 17px;
}

/* stili header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
}

.header-section {
    display: flex;
    padding: 20px;
}

.header-section img {
    padding-right: 20px;
}

.header-section a {
    padding: 10px 10px 10px 0;
    color: #7c7c7c;
    text-decoration: none;
    font-size: 14px;
}


.header-section button {
    padding: 3px 20px;
    background-color: #0061ff;
    color: white;
}

/* stili main */

/* stili jumbotron */
.jumbotron {
    min-height: 600px;
    background-color: hsl(207.1, 51.5%, 80.6%); 
    padding: 0 13%;
}

.jumbotron-title {
    font-size: 50px;
    padding: 50px 0 20px 0;
}

.jumbotron-content {
    display: flex;
    font-size: 14px; 
}

.jumbotron-paragraph p,button,i {
    padding: 20px 0;

}

button {
    padding: 10px 20px;
    background-color: #0061ff;
    color: white;
    font-size: 12px;
}

.fa-arrow-down {
    font-size: 60px;
    padding: 50px 0;
}

.jumbotron-photo {
    max-width: 60%;
    padding-top: 20px;
}

.jumbotron-photo img {
    width: 700px;
}

/* stili business-plan section */
.container {
    max-width: 100%;
    margin: 0 20%;
}

.title-business h2 {
    padding: 60px 0 40px;
}

.business-plan {
    display: flex;
    padding-top: 30px;
   

}

.col-business {
    border: 1px solid #e7e7e9;
    max-width: 30%;
    margin-right: 5%;

}

/* stili all'interno della col-business */
.business-type {
    border-bottom: 1px solid hsl(0,0%,90%);
    text-align: center;
    font-size: 12px;
}

.col-business-type {
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.col-business-type h3 {
    padding-bottom: 20px;
}

.col-business-type h4 {
    padding-top: 50px;
}

.col-business-type i {
    padding: 20px 0 0 0;
}

.euro-bold {
    font-weight: bold;
}

.col-business ul {
    list-style-type: none;
}

.col-business-type button {
    margin: 30px 0 20px;
}

/* stili sezione enterprise */
.enterprise-section {
    display: flex;
    flex-direction: column;
    border: 1px solid #e7e7e9;
    margin-top: 40px;
    font-size: 12px;
    padding: 20px;
    
}

.enterprise {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 0px 0;
}

.enterprise-section .euro-bold {
    padding-bottom: 30px;
}

/* stili sezione partner */
.partner-section img {
    width: 70%;
}

.partner-section {
    display: flex;
    padding: 100px 0;
}

.partner-content {
    max-width: 30%;
    margin-left: 50px;
    padding-top: 50px;
    font-size: 13px;
}

.partner-content p {
    padding: 20px 0;
    font-size: 12px;
}

.white-button {
    background-color: white;
    color: black;
    border: 1px solid black;
}

/* stili sezione operazioni */
.content-operazioni img {
    width: 200px;
    padding-top: 40px;
}

.content-operazioni p {
    font-size: 12px;
    padding-top: 30px;
}

.content-operazioni {
    max-width: 30%;
    margin-right: 20px;
}

.operazioni {
    display: flex;
    flex-wrap: wrap;
}

/* stili bottom title */
.bottom-title {
    max-width: 60%;
    padding: 100px 0 50px;
}

.bottom-title a {
    font-size: 12px;
    color: #4c4cf2;
}

.bottom-title h2{
    padding-bottom: 40px;
}

/* stili sezione designit */
.container-advertising {
    height: 300px;
    display: flex;
    width: 100%;

}

/* stili colonne advert */
.col-advert {
   max-width: 30%;
   display: flex;
   flex-wrap: wrap;
}

.advert {
    max-width: 50%;
    background-color: #0061ff;
    display: flex;
    justify-content: center;
}

.advert img {
    width: 50%;
    
    
}

/* stili colonna designit */
.col-designit {
    max-width: 50%;
    background-color:hsl(0,0%,90%);
    height: 300px;
}

.col-designit img {
    width: 100px;
}





/* colori background advert*/
.verde {
    background-color: hsl(112.5, 38.9%, 71.8%);
}

.bordeux {
    background-color: hsl(336.4, 84.8%, 20.6%);
}

.celeste {
    background-color: hsl(197.2, 100%, 40.4%);
}

.arancione {
    background-color: hsl(0, 100%, 55.5%);
}

.rosso {
    background-color: hsl(351.3, 100%, 41.8%);
}

.grigio {
    background-color: hsl(207.1, 51.5%, 80.6%);
}

.blue {
    background-color: hsl(228.1, 81.7%, 27.8%);
}

.giallo {
   background-color: hsl(48.7, 100%, 59.4%);
}

/* stili porta dropbox */
.prova-gratuita {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    min-height: 300px;
    background-color: hsl(207.1, 51.5%, 80.6%);
}

.title-prova-gratuita {
    max-width:70%;

}